*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-work-sans{
  font-family: "Work Sans", sans-serif;
  
}
header{
    background: #ff8f0e18;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 50px;
    padding-bottom: 30px;
}
.navbar h3{
    font-size: 3rem;
}

.nav-list{
    list-style: none;
}
.nav-list li{
    
}
.nav-list a{
    text-decoration: none;
    padding-right: 20px;
    color: #424242;
    font-size: 1.2em;
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
    
}
.banner-content{ 
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-content button ,.features button{
    border: none;
    padding: 20px;
    background: #FF900E;
    font-size: 20px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
}
.banner-content h1{
    font-size: 4em;
    padding-bottom: 32px;
}
.banner-content p{
    font-size: 1em;
    padding-bottom: 32px;
}
.banner img{
    padding-top: 50px;
    width: 100%;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
.image-container{
    display: flex;
    align-items: center;
    
}
.teams{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}
.teams img{
    width: 342px;
    
}

.features{
    max-width:537px ;
    padding-left: 73px;
}
.features h3{
    font-weight: 500;
    font-size: 2.8em;
    color: #727272;
}
#our{
    font-weight: bold;
    color: black;
}
#fea{
    color: #FF900E;
    font-weight: bold;
}
.features p{
    padding-top: 24px;
    padding-bottom: 32px;
    font-size: 1em;
}
.key-feature{
    display: flex;
    padding: 130px 0px 130px 0px;
}
.key-info{
    max-width: 586px;
}
.div1{
    display: flex;

}
hr{
    margin-right: 21px;
    background-color: #FF900E;
    width: 7px;
    height: 106px;

}
.div1  h1{
    font-size: 2.8em;
    font-weight: bold;
    padding-bottom: 24px;
}
#para{
    font-size: 1em;
    padding-bottom: 30px;
}
.div2,.div3,.div4,.div5{
    margin-bottom: 20px;
    background: #ffffff;
    padding: 20px ;
    border: 3px solid #7673730c;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}
.div2 h3{
    padding-bottom: 10px;
}
.div3 h3{
    padding-bottom: 10px;
}
.div4 h3{
    padding-bottom: 10px;
}
.div5 h3{
    padding-bottom: 10px;
}

.exprience img{
    width: 708px;
    padding-left: 146px;
}
.exprience button{
    padding: 46px 42px;
    border-radius: 8px;
    border: none;
    background: #FF900E;
    color: #ffffff;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    left: 54px;
    bottom: 100px;
}
#exp-span{
    font-size: 1.8rem;
    font-weight: 500;
}

.facts{
    padding: 20px;
}
.facts h2{
    padding-bottom: 24px;
    font-size: 2.9em;
    font-weight: bold;
}
.card-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    
}
.card1{
    padding: 20px;
    border: 1px solid gold;
    text-align: center;
}
.card1 h3{
    font-size: 2.8em;
    
}
.icon{
    width: 40px;
    
}

footer{
    max-width: 1440px;
    margin: 0 auto;
}

footer h1{
    padding: 180px 0px 25px 0px ;
    font-size: 2.8em;
    font-weight: bold;
}
footer p{
    font-size: 1.1em;
}
.sponsors-icon{
    display: flex;
    padding: 50px 0px 130px 0px;
    justify-content: space-between;
}
.sp-icon{
    width:155px;
}
.footer-bar{
    background: #424242;
    padding: 39px 0px 39px 0px;
    color: #ffffff;
    text-align: center;
}
.footer-info-text{
    width: 542px;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width:576px){
    .image-container{
        flex-direction: column;
    }
    .teams{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .navbar{
        flex-direction: column;
    }
    .logo{
        padding-bottom: 20px;
    }
    .key-feature{
        flex-direction: column;
        margin: 0 auto;
    }
    .exprience img{
    width: 100%;
    padding-left:10px;
}
    .exprience button{
    position: relative;
    left: 30%;
    bottom: -30px;
    font-size: 2rem;
}
.card-container{
    flex-direction: column;
}
.card1{
    margin: 0 auto;
    width: 50%;
}
.sponsors-icon{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
}



@media screen and (min-width:576px) and (max-width:768px){
    .image-container{
        flex-direction: column;
    }
    .teams{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .navbar{
        flex-direction: column;
    }
    .logo{
        padding-bottom: 20px;
    }
    .key-feature{
        flex-direction: column;
    }
    .exprience img{
    width: 100%;
    padding-left:10px;
    }
    .exprience button{
    position: relative;
    left: 30%;
    bottom: -30px;
    font-size: 2rem;
}
.card-container{
    flex-direction: column;
    gap: 20px;

}
.card1{
    margin: 0 auto;
    width: 50%;
}
.sponsors-icon{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
    
}




